@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.gowun-dodum-regular {
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Gowun Dodum';
  background-image: url('./MeanFruit.png');
  width: 100vw;
  height: 100vh;
}

.content {
  margin-left: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  background-color: #f1e5d1;
  width: 700px;
  height: 700px;
  background-size: contain;
  /* background-repeat: no-repeat;
  background-position: center center; */
  border-radius: 2em;
  border: 3px black solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0);
}

.title {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 3em;
  text-align: center;
  color: black;
  margin: 0;
}
.header {
  width: 100%;
  height: 20vh;
  text-align: center;
  margin: 0;
  border-bottom: 2px solid;
  /* padding-bottom: 10px; border 길이를 늘리기 위한 padding 설정 */
}

ul {
  list-style: none; /* 목록 스타일 제거 */
  padding: 0;
  margin: 0; /* 마진 제거 */
}

li {
  display: flex;
  justify-content: space-between; /* 아이템과 버튼을 양 끝으로 정렬 */
  align-items: center; /* 수직 정렬 */
  width: 200px; /* 고정된 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 5px 10px; /* 리스트 아이템 간격 설정 (좌우 10px, 상하 5px) */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center; /* 입력 필드와 버튼들을 중앙에 정렬 */
}

input {
  margin-right: 10px;
  border: 2px solid rgb(168, 168, 168); /* 테두리 핑크색으로 설정 */
  padding: 5px 50px 5px 50px; /* 내부 여백 설정 */
  border-radius: 4px; /* 테두리 둥글게 설정 */
  outline: none; /* 포커스 시 기본 테두리 제거 */
}

input:focus {
  border-color: black;
}

.plusBtn,
.deleteBtnAll,
.doneBtn,
.deleteBtn {
  all: unset; /* 모든 기본 스타일 제거 */
  cursor: pointer; /* 커서 스타일 변경 */
  margin-left: 5px; /* 버튼 간격 설정 */
}

.todoList {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.section {
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  align-items: center; /* 중앙 정렬 */
}

.section h1 {
  margin-bottom: 10px; /* 제목과 리스트 간격 설정 */
  width: 300px; /* 제목과 리스트 너비를 일치시키기 위해 고정 너비 설정 */
  text-align: center; /* 제목을 가운데 정렬 */
}
